{% extends "layout.html" %}

{% block page_title %}
  Track my passport application
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <!-- <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div> -->

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Modal option</h1>
      <div id="example-block">
        <p>
          <a class="button" href="#modal">Add feedback</a>
        </p>
      </div>

      <div id="modal" class="modal-overlay">
        <div class="modal">
          <div class="modal-heading">
            <h2 class="heading-medium">Are you sure?</h2>
            <a class="close" href="#example-block">
              <span class="hod-cross side-space"></span>&nbsp;Close</a>
          </div>
          <div class="content">
            <p>I can't identify this person</p>
            <a href="getouttahewre" class="button">Yes</a>
            <a href="#example-block" style=" display: inline-block; margin:10px 0 0 10px"> I've changed my mind</a>
          </div>
        </div>
      </div>
    <div class="column-third">

      <!-- <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside> -->

    </div>
  </div>

</main>

{% endblock %}
